<h1>Update: <%= @word.name %></h1>

<form action="/words/<%= @word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <input id="clarif" name="clarif" type="text" placeholder="Redefine word">

  <button type="submit" class="btn btn-danger">Update!</button>
</form>

<form action="/words/<%= @word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class = "btn btn-danger">Delete Definition</button>
</form>
